<% if (success && success.length > 0) { %>
<div class="toast toast-success" id="flashAlert">
  <i class="bi bi-check-circle-fill"></i>
  <span><%= success %></span>
</div>
<% } %>

<% if (error && error.length > 0) { %>
<div class="toast toast-error" id="flashAlert">
  <i class="bi bi-x-circle-fill"></i>
  <span><%= error %></span>
</div>
<% } %>
