<footer class="footer">
  <div class="footer-inner">
    <div class="footer-section footer-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="footer-section footer-brand">
      &copy; Nivaas Private Limited
    </div>
    <div class="footer-section footer-links">
      <a href="/pricacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
