<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h5>
      <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;&nbsp;<%=statusCode%> :&nbsp;
      <%=message%>
    </h5>
  </div>
</div>
