<% layout("layouts/boilerplate.ejs") -%>
<body>
  <h3>All Listings</h3>

  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2">
    <% for (const listing of listings) {%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
      <div class="card col listing-card">
        <img
          src="<%=listing.image%>"
          class="card-img-top home-images"
          alt="listing img"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h5 class="card-title"><%=listing.title%></h5>
          <p class="card-text">
            &#8377;<%=listing.price.toLocaleString('en-IN')%> / night
          </p>
        </div>
      </div></a
    >
    <% }%>
  </div>
</body>
