<% layout("layouts/boilerplate.ejs") -%>
<div class="row">
  <div class="col-8 offset-2">
    <h1>Create a New Listing</h1>
    <br />
    <form action="/listings" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          type="text"
          name="title"
          placeholder="Add a catchy title"
          required
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="description"
          placeholder="Description"
          required
          class="form-control"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          id="image"
          type="text"
          name="image"
          placeholder="Image URL"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            type="number"
            name="price"
            placeholder="1,200"
            required
            class="form-control"
          />
        </div>

        <div class="mb-3 col-4">
          <label for="location" class="form-label">Location</label>
          <input
            id="location"
            type="text"
            name="location"
            placeholder="Surat, Gujrat"
            required
            class="form-control"
          />
        </div>

        <div class="mb-3 col-4">
          <label for="country" class="form-label">Country</label>
          <input
            id="country"
            type="text"
            name="country"
            placeholder="India"
            required
            class="form-control"
          />
        </div>
      </div>
      <div>
        <br />
        <button type="submit" class="btn btn-dark add-btn">Create New Listing</button>
        <br /><br /><br />
      </div>
    </form>
  </div>
</div>
